<h1>This is the Country Show Page</h1>


<h2>Here is the Country you selected:</h2>

<p><%= @country.name %>




<h1>Here's my linky dinky</h1>

<p><%= link_to "Now go to the index page and see all the countries", countries_path %></p>









